/* SwipeableCards Component Styles */

.swipeable-cards {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  outline: none;
}

/* Card Stack */
.swipeable-cards__stack {
  position: relative;
  height: 355px;
  width: 100%;
  margin-bottom: 2rem;
}

.completion-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 40vw;
  /* background-color: #f0f0f0; */
  margin: 1rem;
  padding: 1rem;
}

.completion-screen__emoji {
  font-size: 3rem;
}

.completion-screen button {
  background-color: #fef2ea;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;

  /* Light Theme for reset button */
  body.light .completion-screen button {
    background-color: #fef2ea; /* Original light background */
    color: #333; /* Default text color for light theme button */
  }

  /* Dark Theme for reset button */
  body.dark .completion-screen button {
    background-color: #555861; /* Darker background */
    color: #eee; /* Lighter text */
  }
}

.completion-screen__title {
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

/* Light Theme for title */
body.light .completion-screen__title {
  color: #333; /* Original color */
}

/* Dark Theme for title */
body.dark .completion-screen__title {
  color: #eee; /* Lighter color for dark theme */
}

.completion-screen__subtitle {
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* Light Theme for subtitle */
body.light .completion-screen__subtitle {
  color: #666; /* Original color */
}

/* Dark Theme for subtitle */
body.dark .completion-screen__subtitle {
  color: #bbb; /* Lighter color for dark theme */
}

/* Light Theme styles for completion screen */
body.light .completion-screen {
  background-color: #f0f0f0; /* Original light background */
  color: #333;
}

/* Dark Theme styles for completion screen */
body.dark .completion-screen {
  background-color: #3a3f47; /* Darker background */
  color: #f0f0f0; /* Lighter text */
}
