.card {
  background-color: #fff2eb;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  /* transition: transform 0.2s ease-in-out; */
  height: 20rem;
  width: 20rem;
  cursor: pointer;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 80%;
  border-radius: 8px;
}

.card h1 {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  font-weight: 500;
  color: #0e2148;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
