/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.app-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark .app-container {
  background-color: #282c34; /* Dark background for the app container */
  color: #f0f0f0; /* Light text color for dark theme */
}

.theme-toggle-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light .theme-toggle-button {
  background-color: #102e4e;
  color: white;
}

body.dark .theme-toggle-button {
  background-color: #e3ecee;
  color: #282c34;
}

.main {
  width: 100vw;
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffdcdc;
}

body.light .main {
  background-color: #ffdcdc; /* Your original light background */
}

/* Dark theme for .main */
body.dark .main {
  background-color: #36393f; /* A darker background for the main section */
}

.swipe-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.display-button-left,
.display-button-right {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light .display-button-left,
body.light .display-button-right {
  background-color: #ffb3b3;
}

body.dark .display-button-left,
body.dark .display-button-right {
  background-color: #555861;
  color: #eee;
}

body.light .display-button-left {
  color: rgb(233, 92, 92);
}

body.light .display-button-right {
  color: rgb(45, 144, 45);
}

body.dark .display-button-left {
  color: #ff7f7f;
}

body.dark .display-button-right {
  color: #7aff7a;
}
